In [2]:
import numpy as np
import pandas as pd

In [11]:
data_1=pd.DataFrame()
for i in ["IRL","USA","AUS","JPN","RUS","KOR"]:
    data = pd.read_csv(f'/Users/siddharthsharma/Desktop/hmd_countries_20230403/{i}/InputDB/{i}birth.txt', sep=',')
    data_1=data_1.append(data)

<ipython-input-11-4a8cfc1ae829>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(data)
<ipython-input-11-4a8cfc1ae829>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(data)
<ipython-input-11-4a8cfc1ae829>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(data)
<ipython-input-11-4a8cfc1ae829>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(data)
<ipython-input-11-4a8cfc1ae829>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(data)
<ipython-input-11-4a8cfc1ae829>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(data)

In [13]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1192 entries, 0 to 91
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PopName    1192 non-null   object
 1   Area       1192 non-null   int64
 2   Sex        1192 non-null   object
 3   Year       1192 non-null   int64
 4   YearReg    1192 non-null   int64
 5   RefCode    1192 non-null   int64
 6   Access     1192 non-null   object
 7   Births     1192 non-null   int64
 8   NoteCode1  1192 non-null   object
 9   NoteCode2  1192 non-null   object
 10  NoteCode3  1192 non-null   object
 11  LDB        1192 non-null   int64
dtypes: int64(6), object(6)
memory usage: 121.1+ KB

In [23]:
data_1.head()

,PopName,Area,Sex,Year,YearReg,RefCode,Access,Births,NoteCode1,NoteCode2,NoteCode3,LDB
0,IRL,1,m,1950,1950,6,O,32867,8,.,.,1
1,IRL,1,m,1951,1951,6,O,32303,8,.,.,1
2,IRL,1,m,1952,1952,6,O,33026,8,.,.,1
3,IRL,1,m,1953,1953,6,O,32241,8,.,.,1
4,IRL,1,m,1954,1954,6,O,32087,8,.,.,1

In [14]:
data_1_death=pd.DataFrame()
for i in ["IRL","USA","AUS","JPN","RUS","KOR"]:
    data_dt = pd.read_csv(f'/Users/siddharthsharma/Desktop/hmd_countries_20230403/{i}/InputDB/{i}death.txt', sep=',')
    data_1_death=data_1_death.append(data_dt)

<ipython-input-14-c027c5f60036>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1_death=data_1_death.append(data_dt)
<ipython-input-14-c027c5f60036>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1_death=data_1_death.append(data_dt)
<ipython-input-14-c027c5f60036>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1_death=data_1_death.append(data_dt)
<ipython-input-14-c027c5f60036>:3: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  data_dt = pd.read_csv(f'/Users/siddharthsharma/Desktop/hmd_countries_20230403/{i}/InputDB/{i}death.txt', sep=',')
<ipython-input-14-c027c5f60036>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1_death=data_1_death.append(data_dt)
<ipython-input-14-c027c5f60036>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1_death=data_1_death.append(data_dt)
<ipython-input-14-c027c5f60036>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1_death=data_1_death.append(data_dt)

In [21]:
data_1_death.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160720 entries, 0 to 7827
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   PopName       160720 non-null  object
 1   Area          160720 non-null  int64
 2   Year          160720 non-null  object
 3   YearReg       160720 non-null  object
 4   YearInterval  160720 non-null  object
 5   Sex           160720 non-null  object
 6   Age           160720 non-null  object
 7   AgeInterval   160720 non-null  object
 8   Lexis         160720 non-null  object
 9   RefCode       160720 non-null  object
 10  Access        160720 non-null  object
 11  Deaths        160720 non-null  object
 12  NoteCode1     160720 non-null  object
 13  NoteCode2     160720 non-null  object
 14  NoteCode3     160720 non-null  object
 15  LDB           160720 non-null  int64
dtypes: int64(2), object(14)
memory usage: 20.8+ MB

In [22]:
data_1_death.head()

,PopName,Area,Year,YearReg,YearInterval,Sex,Age,AgeInterval,Lexis,RefCode,Access,Deaths,NoteCode1,NoteCode2,NoteCode3,LDB
0,IRL,1,1950,1950,1,m,0,1,RR,7,O,1676.0,7,.,.,1
1,IRL,1,1950,1950,1,m,1,1,RR,7,O,142.0,7,.,.,1
2,IRL,1,1950,1950,1,m,2,1,RR,7,O,73.0,7,.,.,1
3,IRL,1,1950,1950,1,m,3,1,RR,7,O,59.0,7,.,.,1
4,IRL,1,1950,1950,1,m,4,1,RR,7,O,45.0,7,.,.,1

In [24]:
data_1_death.to_csv("/Users/siddharthsharma/Documents/UoN-DS/research-methods/death_.csv")
data_1.to_csv("/Users/siddharthsharma/Documents/UoN-DS/research-methods/birth_.csv")

In [149]:

data_1=pd.DataFrame()
for i in ["IRL","USA","AUS","JPN","RUS","KOR"]:
    df = pd.DataFrame(columns=['Year', 'Age', 'Female','Male','Total'])
    f = open(f'/Users/siddharthsharma/Desktop/hmd_countries_20230403/{i}/STATS/Exposures_1x1.txt', "r")
    lines = f.readlines()
    f.close()

    # remove /n at the end of each line
    for index, line in enumerate(lines):
              lines[index] = line.split()
    for index,line in enumerate(lines[3:]):
        df.loc[index]=line
    df["country"]= i
    data_1=data_1.append(df)

<ipython-input-149-70e550a1fe92>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(df)
<ipython-input-149-70e550a1fe92>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(df)
<ipython-input-149-70e550a1fe92>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(df)
<ipython-input-149-70e550a1fe92>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(df)
<ipython-input-149-70e550a1fe92>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(df)
<ipython-input-149-70e550a1fe92>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_1=data_1.append(df)

In [152]:
data_1.to_csv("/Users/siddharthsharma/Documents/UoN-DS/research-methods/Exposures.csv")

In [168]:

data_2=pd.DataFrame()
for i in ["IRL","USA","AUS","JPN","RUS","KOR"]:
    df_ = pd.DataFrame(columns=['Year', 'Female','Male','Total'])
    f_ = open(f'/Users/siddharthsharma/Desktop/hmd_countries_20230403/{i}/STATS/E0per.txt', "r")
    lines_ = f_.readlines()
    f_.close()

    # remove /n at the end of each line
    for index, line in enumerate(lines_):
              lines_[index] = line.split()
    for index,line in enumerate(lines_[3:]):
        df_.loc[index]=line
    df_["country"]= i
    data_2=data_2.append(df_)
data_2.to_csv("/Users/siddharthsharma/Documents/UoN-DS/research-methods/lifeexp.csv")

<ipython-input-168-690d03b8967c>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-168-690d03b8967c>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-168-690d03b8967c>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-168-690d03b8967c>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-168-690d03b8967c>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-168-690d03b8967c>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)

In [3]:

data_3=pd.DataFrame()
for i in ["IRL","USA","AUS","JPN","RUS","KOR"]:
    df_ = pd.DataFrame(columns=[ "Year","Age","Female","Male","Total"])
    f_ = open(f'/Users/siddharthsharma/Desktop/hmd_countries_20230403/{i}/STATS/Deaths_5x10.txt', "r")
    lines_ = f_.readlines()
    f_.close()

    # remove /n at the end of each line
    for index, line in enumerate(lines_):
              lines_[index] = line.split()
    for index,line in enumerate(lines_[3:]):
        df_.loc[index]=line
    df_["country"]= i
    data_3=data_3.append(df_)
data_3.to_csv("/Users/siddharthsharma/Documents/UoN-DS/research-methods/death_5x10.csv")

<ipython-input-3-9c2b435ff416>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-3-9c2b435ff416>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-3-9c2b435ff416>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-3-9c2b435ff416>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-3-9c2b435ff416>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)
<ipython-input-3-9c2b435ff416>:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_2=data_2.append(df_)